body,html{
height: 100%;

}
body{
  background-color:white;
  overflow-x:hidden;
}

.acordiona{
  width: 100%;
  margin-top: 5%;
}
#btnformas{
  height:25px;width: 60px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}


/***************************************Panel beneficiarios*****************************************************/

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    width: 100%;
}

#benefi {background-color: red;}
#agregar {background-color: green;}



/****************************************************************************************************************/
/* remove outer padding */
.main .row{
padding: 0px;
margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
border-radius: 0px;
}

nav.sidebar, .main{
-webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
padding: 0px 0px 0 0px;
background-image:url("/img/fondochido.jpg");
width:100vw;
height:auto;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

/*Allow main to be next to Nav*/
.main{
  position: absolute;
  width: calc(100% - 40px); /*keeps 100% minus nav size*/
  margin-left: 40px;
  float: right;
}

/*lets nav bar to be showed on mouseover*/
nav.sidebar:hover + .main{
  margin-left: 200px;
}

/*Center Brand*/
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
/*Center Brand*/
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

/*Center Icons*/
nav.sidebar a{
  padding-right: 13px;
}

/*adds border top to first nav box */
nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

/* Colors/style dropdown box*/
nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

/*colors dropdown box text */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color:white;
}

/*gives sidebar width/height*/
nav.sidebar{
  width: 200px;
  height:100%;
  margin-left: -160px;
  float: left;
  z-index: 8000;
  margin-bottom: 0px;
  background-color:white;
}
/*give sidebar 100% width;*/
nav.sidebar li {
  width: 100%;
}

/* Move nav to full on mouse over*/
nav.sidebar:hover{
  margin-left: 0px;
}
/*for hiden things when navbar hidden*/
.forAnimate{
  opacity: 0;
}
.botonsin{
  height:50px;
  background-color:#37ba4b;
  font-size: 1.8rem;
  border-radius: 10px;
  border:none;
    margin-top:2.5%;
    margin-left: 3%;
}
.botonsin:hover{
  background-color:#298437;
  color:white;
}
.inputin{
  margin-top:.5%;
  margin-left: 3%;
}
#lab{
  margin-left:3%;
  margin-top:2%;
}

} /*AQUI TERMINA EL MEDIA QUERYyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

/*Allow main to be next to Nav*/
.main{
  width: calc(100% - 200px); /*keeps 100% minus nav size*/
  margin-left: 200px;

  background-image:url("/img/fondochido.jpg");
}

/*Show all nav*/
nav.sidebar{
  margin-left: 0px;
  float: left;
}
/*Show hidden items on nav*/
nav.sidebar .forAnimate{
  opacity: 1;
}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
color: #CCC;
background-color: transparent;
}

nav:hover .forAnimate{
opacity: 1;
}
section{
padding-left: 15px;
}
.panel-body{
  background-color:white;
  height:50px;
    font-size:1.5rem;
}
.panel-body2{
  background-color:white;
  font-size:2.5rem;
  color:black;
  margin-left:2%;
}
.panel-default2{
  height:auto;
  float:left;
  margin-top:20px;
}
.container{
float:left;
}
.span{
  height:auto;
}
#sepa{
  background-color:transparent;
}
.contenedor{
  width:auto;
  height:500px;
  overflow-y: scroll;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.table{
  background-color:gray;
  font-size:1.8rem;
  border-radius:10px;
}
.dropdown-item{
  color:white;
}
.navbar-inverse .navbar-nav > li > a{
  color:black;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color:green;
}
.navbar-inverse .navbar-brand{
  color:black;
}
.navbar-inverse .navbar-brand:hover{
  color:green;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color:transparent;
  color:green;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
  color:black;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focused{
  color:green;
}
/*DE AQUI ES EL CSS DE LOS COUNTERSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
.coder-counter {background:#2d344d; color:#fff;}
.coder-counter-box {border-right: 1px solid #444e70; padding:30px 0px 30px 0px;}
.coder-counter-box h2 {}
.coder-counter-box p{}
  /*medias de las letras responsive de arriba de las graficas de barras*/
  p {
  font-size: 2rem;
  text-align:center;
}
  @include media-breakpoint-up(sm) {
    p {
      font-size: 1.2rem;
    }

  }

  @include media-breakpoint-up(md) {
    p {
      font-size: 1.4rem;
    }

  }

  @include media-breakpoint-up(lg) {
    p {
      font-size: 2rem;
    }
  }
