body {
  overflow-x:  hidden;
  overflow-y: scroll;
  min-height: 100%;
}
/*****************navbar *************************/
.navbar-header{
  margin-left: 10%;

}
nav a{
  font-size: 1.2em;
}
nav .nombre{
  font-size: 2em;
  color: green;
}

/************************************************ */

h2{
  font-size: 70px;
  color: white;

}
.titula{
  float: left;
  margin-left: 40%;
  margin-bottom: 1%;
  margin-top: 2%;
}
h3{
  font-size: 70px;
  color: black;
}
/*-----------------section ---------------------*/
section{
float: left;
}

/************************************************ */
.item img{
  width:100%;
  max-height: 550px;

}

/******************   divs ****************************** */
.divs{
  height:450px;width:350px;
  padding: 0;

}
.text{
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center

}
.conoce{
  color:black;
}
.textoconoce{
  background-color: white;
  border-radius:15px;
}


.divima{
   margin-left:12%;
   width:40%;
   height:480px;
   margin-top: 1%;
   padding:0;
   border-top-left-radius:25px;
   border-bottom-left-radius:25px;
   box-shadow: 10px 10px 5px #65686d;
}
.divima img{
  width:100%;
  height:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
#primero div .jumbotron{
  margin-top:1%;
  width:35%;
  height:480px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  box-shadow: 10px 10px 5px #65686d;
}

.divhis{
  height:480px;
  padding:0;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.divhim{
  height:480px;
  padding:0;
}
.divhim img{
  height:100%;
  width:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
.divhtex{
  background-color:green;
  width:33.33%;height:100%;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}
.info{
  background-color: green;
  height: 120px;
  margin-top:12%;
  margin-left: 5%;
  width: 90%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #65686d;

}
.info h4{
  padding:18px;
  text-align: center;
  font-size: 25px;
}

/************************************************ */
.boton:hover{
  color:black;
  transform: scale(5%);

}

.divs:hover .overlay{
   opacity: .8;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/******************carusel caption****************************** */

 .new-caption-area {
    width: 100%;
    height: 100px;
    border-top: 4px;
  }

  .carousel-caption h3 {

}


/*************** -------------  footer -------------    ********************************* */
.jumbotronsito{
  margin-left:35%;
  border-radius:25px;
  width: 30%;
  margin-top: 4%;
  height: 15%;
  opacity:0.5;
  padding: 0;
  background-color: white;

}
.jumbotronsito h3{
margin-left: 18%;
}

.divcon{
  margin-top: 22%;
  margin-left:5%;
  z-index: 3;
  opacity: .8;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #65686d;
  width: 90%;
  background-color: white;
  height: 200px;

}
.divcon p{
  color:black;
  font-size: 25px;

}






/****************GALERIA****************** */

.row > .column {
  padding: 0 6px;
}
.row{
  margin-left: 6%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 15%;
  padding: 0;
}
#galim{
  max-height: 120px;
  max-width: 100%;
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 50px;
  margin-top: 3.6%;
  width: 100%;
  max-height: 700px;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 80%;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;

}
.mySlides img{
  max-height: 550px;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.hover-shadow:hover {


}
.column:hover{
  transform:scale(1.5);
}


/************************************************ */










/************************************************ */

@media(max-width:1300px){
  nav a{
    font-size: 1em;
  }
  nav .nombre{
    font-size: 1.2em;
  }
}
@media(max-width:990px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .carrusel{
    display: none;
  }
  .primera{
    margin-top: 20%;
  }
  .segundo{
    margin-top: 7%;
  }
  .cuatro{
    margin-left: 30%;
  }
  h4{
    margin-left: 31%;
  }
.text a{
    margin-left: 34%;
  }
  .jumbotron{
    height: 300px;
  }
  .divima{
    height: 200px;
  }
}
@media(max-width:630px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .carrusel{
    display: none;
  }
  .primera{
    margin-top: 15%;
  }
  .segundo{
    margin-top: 15%;
  }
  .cuatro{
    margin-left: 13%;
  }
  h4{
    margin-left: 15%;
  }
.text a{
    margin-left: 34%;
  }
  .jumbotron{
    height: 100px;
  }
  .divima{
    height: 200px;
  }
}
