body {
  overflow-x:  hidden;
  overflow-y: scroll;
  min-height: 100%;
}

/*****************navbar *************************/
.navbar-header{
  margin-left: 10%;

}
nav a{
  font-size: 1.2em;
}
nav .nombre{
  font-size: 2em;
  color: green;
}

/************************************************ */

h2{
  font-size: 70px;
  color: black;
  font-family: "Cherry Swash";
  text-shadow: 10px 10px 5px #65686d;
}



/*-----------------section ---------------------*/
.imagenprinc{
   height:700px;
   margin-top:3%;
}
.fondoimg {
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-image: url('/img/fondofcd.jpg');
    background-size: 100% 100%;

}
.top-right {

    position: absolute;
    top: 20%;
    right: 2%;
    font-size: 50px;
    color:white;
    font-family: "Cherry Swash";
    text-shadow: 10px 10px 5px #65686d;
    border-radius: 15px;

}
.primera{
  height:850px;
  margin-top:0%;
  background-image:url('/img/folleto1.jpg');
  background-size:  100% 100%;
}
.segundo{
  height:950px;
  margin-top:0%;
  background-image:url('/img/fondochido.jpg');
}
.galeria{
  background-color:white;
  height:750px;
  margin-top:0%;
  width: 100%;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

/************************************************ */


/******************   divs ****************************** */
.divs{
  height:450px;width:350px;
  padding: 0;

}
.text{
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center

}
.conoce{
  color:black;
}
.textoconoce{
  background-color: white;
  border-radius:15px;
}


.divima{
   margin-left:12%;
   width:40%;
   height:480px;
   margin-top: 1%;
   padding:0;
   border-top-left-radius:25px;
   border-bottom-left-radius:25px;
   box-shadow: 10px 10px 5px #65686d;
}
.divima img{
  width:100%;
  height:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
#primero div .jumbotron{
  margin-top:1%;
  width:35%;
  height:480px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  box-shadow: 10px 10px 5px #65686d;
}

.divhis{
  height:480px;
  padding:0;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.divhim{
  height:480px;
  padding:0;
}
.divhim img{
  height:100%;
  width:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
.divhtex{
  background-color:#dbd1a4;
  width:33.33%;height:100%;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}
.divhtex p{
  font-size: 18px;
}
.divhos{
margin-top:5%;margin-left:5%;
}
.info{
  background-color: #dbd1a4;
  height: 120px;
  margin-top:2%;
  margin-left: 5%;
  width: 90%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #65686d;

}
.info h4{
  padding:18px;
  text-align: center;
  font-size: 25px;
}
/*****************************************************/

.margenfb{
margin-Left:120%; margin-top:-15%;
}
.footerino{
  background-color:#194A4F;
  height:300px;
  margin-top:2%;
  width: 100%;
  padding-bottom:0;
}
.infiz{
margin-left:10%;
padding:0;
margin-top:1%;
width:28%;
}
.infder{
  padding:0;
  margin-top:1%;
  width:60%;
}

#imgfb{
  width:65px;
   height:65px;
}





/************************************************ */
.boton:hover{
  color:black;
  transform: scale(5%);

}
#conoce{
  width:22%;
  text-align: center;
}
#conoce:hover{

  border:solid;
  border-color: white;
}

/******************carusel caption****************************** */


.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    margin-left: 2.5%;
    width: 30%
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered p{
  font-size: 50px;
}
body.modal-open {
    overflow: visible;
    position: absolute;
    width: 100%;
    height:100%;
}
div .centered{
  font-size: 25px;
  color:white;
}
.row h2{
  margin-top: 5%;
  margin-left: 40%;
  font-size: 75px;
}


/*************** -------------   -------------    ********************************* */
.jumbotronsito{
  margin-left:35%;
  border-radius:25px;
  width: 30%;
  margin-top: 4%;
  height: 15%;
  opacity:0.5;
  padding: 0;
  background-color: white;

}
.jumbotronsito h3{
margin-left: 18%;
}

.divcon{
  margin-top: 1%;
  margin-left:5%;
  z-index: 3;
  opacity: .8;
  border-radius: 9px;
  box-shadow: 10px 10px 5px #65686d;
  width: 90%;
  background-color: white;
  height: 190px;

}
.divcon p{
  color:black;
  font-size: 24px;

}


.jumbotit{
font-size:35px;
margin-top:0;
}



/****************footer****************** */
#pfoot{
  font-size: 15px;
  font-family: fantasy;color:#3CB3B7;
}
#hfoot{
  font-size: 20px;
  font-family: fantasy;color:#64E9EE;"
}

/************************************************ */










/************************************************ */
@media(max-width:1435px){
  nav li a{
    font-size: 1em;
  }
  nav .nombre{
    font-size: 1.8em;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 48px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
  h2{
    font-size: 65px;
    color: black;
    font-family: "Cherry Swash";
    text-shadow: 10px 10px 5px #65686d;
  }
  .divhtex p{
    font-size: 16px;
    text-align: justify;

  }
  .info h4{
    font-size: 20px;
    text-align: center;
    padding: none;
    margin-left: -2%;
  }



}
@media(max-width:1300px){
  nav li a{
    font-size: 1em;
  }
  nav .nombre{
    font-size: 1.6em;
  }
  li a img{
    display: none;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 44px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }


}
@media(max-width:1150px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1.3em;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 35px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
  .jumbotron p {
    font-size: 18px;
  }
  .info h4{
    font-size: 18px;
    text-align: center;
    padding: none;
    margin-left: -2%;
  }
  .divhtex p{
    font-size: 14px;
    text-align: justify;

  }
  .centered p{
    font-size: 22px;
  }
}

@media(max-width:990px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 30px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
  li a img{
    display: none;
  }

  .primera{
    margin-top: 25%;
  }
  .segundo{
    margin-top: 7%;
  }
  .cuatro{
    margin-left: 30%;
  }
  h4{
    margin-left: 31%;
  }
.text a{
    margin-left: 34%;
  }
  .botona{
max-height: 80px;
margin-left: 45%;
  }

  .jumbotron{
    max-height: 400px;
  }
  .jumbotron p {
    font-size: 15px;
  }
  .divima{
    height: 400px;
  }


  .info h4{
    font-size: 14px;
    text-align: center;
    padding: none;
    margin-left: -2%;
  }
  .divhtex{
    font-size: 13px;

  }
  .divhis{
    padding: none;
    width: 45%;
  }
  .divhos{
    margin-left: 2%;
  }
}
@media(max-width:900px){
  nav li a{
    font-size: .75em;
  }
  nav .nombre{
    font-size: .9em;
  }
  li a img{
    display: none;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 25px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
}
@media(max-width:630px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 18px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }

  .primera{
    margin-top: 15%;
  }
  .segundo{
    margin-top: 15%;
  }
  .cuatro{
    margin-left: 13%;
  }
  h4{
    margin-left: 15%;
  }
.text a{
    margin-left: 34%;
  }
  .botona{
max-height: 80px;
margin-left: 20%;
  }

  .jumbotron{
    max-height: 400px;
  }
  .jumbotron p {
    font-size: 12px;
  }
  .divima{
    height: 400px;
  }

  #segundo{
      display:none !important;
  }
  .info h4{
    font-size: 14px;
    text-align: center;
    padding: none;
    margin-left: -5%;
  }
  .divhtex{
    font-size: 9.5px;

  }
  .divhis{
    padding: none;
    width: 45%;
  }
  .divhos{
    margin-left: 2%;
  }
}
@media(max-width:450px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .top-right {

      position: absolute;
      top: 15%;
      right: 2%;
      font-size: 12px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
  .imagenprinc{
     height:400px;
     margin-top:3%;
  }
  .fondoimg {
      width: 100%;
      height: 400px;
      background-repeat: no-repeat;
      background-image: url('/img/fondofcd.jpg');
      background-size: 100% 100%;

  }
  .primera{
    height:450px;
    margin-top:-6%;
    background-image:url('/img/folleto1.jpg');
    background-size:  100% 100%;
  }
  .segundo{
    height:450px;
    margin-top:-6%;
    background-image:url('/img/fondochido.jpg');
  }
  .galeria{
    background-color:white;
    height:430px;
    margin-top:-6%;
    width: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
  }
  .galeria h2{
    font-size: 25px;
    margin-left: 37%;
  }
  .container {
      position: relative;
      text-align: center;
      color: white;
      margin-left: 32%;
      width: 35%
  }
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .centered p{
    font-size: 10px;
  }
  h4{
    margin-left: 15%;
  }
  .text a{
    margin-left: 34%;
  }
  .botona{
  max-height: 20px;
  max-width: 5%;
  margin-left: 0%;
  }

  .jumbotron{
    max-height: 300px;
  }
  .jumbotron p {
    font-size: 7px;
    text-align: justify;
  }
  .divima{
    height: 300px;
  }

  #segundo{
      display:none !important;
  }
  h2{
    font-size: 25px;
    margin-top: 4%;
  }
  .info{
    max-height:90px ;
    padding: 1;
    text-align: justify;
  }
  .info h4{
    font-size: 8px;
    text-align: center;
    padding: none;
    margin-top: -1%;
    margin-left: -2%;
    text-align: justify;
  }

  .divhtex p{
    font-size: 5px;
    text-align: justify;
    padding: 0;

  }

  .divhim{
    max-height: 200px;
  }
  .divhtex{
    max-height: 200px;
    padding: 1px;
  }
  .divhis{
    max-height: 200px;
    padding: none;
    margin-top: 8%;
    width: 45%;
  }
  .divhos{
    margin-left: 2%;
  }
  .margenfb{
    margin-top: -35%;
  }
  .footerino div p{
    font-size: 10px;
  }
  #pfoot{
    font-size: 10px;
    font-family: fantasy;color:#3CB3B7;
  }
  #hfoot{
    font-size: 12px;
    font-family: fantasy;color:#64E9EE;"
  }
  .margenfb{
    margin-top: 5%;
    margin-left: 60%;
  }
  #imgfb{
    width:55px;
     height:55px;
     margin-left: 30%;

  }
  .infiz{
  margin-left:5%;
  padding:0;
  margin-top:1%;
  width:30%;
  }
  .infder{
    padding:0;
    margin-top:1%;
    width:60%;
  }
  .infiz #pfoot{
    font-size: 13px;
  }
  .infder #pfoot{
    font-size: 12px;
  }

  .divfoot{
     width:100%;
     margin-top:5%;

  }
}
@media(max-width:350px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: .8em;
  }
  li a img{
    display: none;
  }
  .top-right {

      position: absolute;
      top: 20%;
      right: 2%;
      font-size: 10px;
      color:white;
      font-family: "Cherry Swash";
      text-shadow: 10px 10px 5px #65686d;
      border-radius: 15px;

  }
  .imagenprinc{
     height:400px;
     margin-top:3%;
  }
  .fondoimg {
      width: 100%;
      height: 400px;
      background-repeat: no-repeat;
      background-image: url('/img/fondofcd.jpg');
      background-size: 100% 100%;

  }
  .primera{
    height:400px;
    margin-top:-4%;
    background-image:url('/img/folleto1.jpg');
    background-size:  100% 100%;
  }
  .segundo{
    height:450px;
    margin-top:-4%;
    background-image:url('/img/fondochido.jpg');
  }
  .galeria{
    background-color:white;
    height:400px;
    margin-top:0%;
    width: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
  }
  .galeria h2{
    font-size: 25px;
  }

  h4{
    margin-left: 15%;
  }
  .text a{
    margin-left: 34%;
  }
  .botona{
  max-height: 10px;
  max-width: 5%;
  margin-left: 0%;
  }

  .jumbotron{
    max-height: 300px;
  }
  .jumbotron p {
    font-size: 6.8px;
  }
  .divima{
    height: 300px;
  }

  #segundo{
      display:none !important;
  }
  h2{
    font-size: 25px;
  }
  .info h4{
    font-size: 8px;
    text-align: center;
    padding: none;
    margin-left: -5%;
  }
  .divhtex p{
    font-size: 5px;

  }
  .divhos .divhis .divhim .divhtex{
    height: 200px;
  }
  .divhis{
    padding: none;
    width: 45%;
  }
  .divhos{
    margin-left: 2%;
  }
  .margenfb{
    margin-top: 5%;
    margin-left: 70%;
  }
  #imgfb{
    width:45px;
     height:45px;
     margin-left: 15%;
    }
  .infiz{
  margin-left:5%;
  padding:0;
  margin-top:1%;
  width:20%;

  }
  .infder{
    padding:0;
    margin-top:1%;
    max-width: 100%;
  }

  .infiz #pfoot{
    font-size: 10px;
  }

  .divfoot{
     width:100%;
     margin-top:5%;

  }
}
