body {
  overflow-x:  hidden;
  overflow-y: scroll;
  min-height: 100%;
}
/*****************navbar *************************/
.navbar-header{
  margin-left: 10%;

}
nav a{
  font-size: 1.2em;
}
nav .nombre{
  font-size: 2em;
}

/************************************************ */

h2{
  font-size: 70px;
}
/*-----------------section ---------------------*/
section{
float: left;


}

/************************************************ */


/******************   divs ****************************** */
.divs{

  height:450px;width:350px;
  padding: 0;

}
.text{
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center

}
.conoce{
  color:black;
}
.textoconoce{
  background-color: white;
  border-radius:15px;
}

.divima{
   margin-left:12%;
   width:40%;
   height:480px;
   margin-top: 1%;
   padding:0;
   border-top-left-radius:25px;
   border-bottom-left-radius:25px;
}
.divima img{
  width:100%;
  height:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
.jumbotron{
  margin-top:1%;
  width:35%;
  height:480px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}
.divhis{
  height:480px;
  padding:0;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.divhim{
  height:480px;
  padding:0;
}
.divhim img{
  height:100%;
  width:100%;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
.divhtex{
  background-color:green;
  width:33.33%;height:100%;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}

/************************************************ */
.boton:hover{
  color:black;
  transform: scale(5%);

}

.divs:hover .overlay{
   opacity: .8;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/******************carusel caption****************************** */

 .new-caption-area {
    width: 100%;
    height: 100px;
    border-top: 4px;
    border-top-color: black;
    border-top-style: solid;


  }

  .carousel-caption h3 {


}





/*************** -------------  footer -------------    ********************************* */

/************************************************ */

@media(max-width:1300px){
  nav a{
    font-size: 1em;
  }
  nav .nombre{
    font-size: 1.2em;
  }
}
@media(max-width:990px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .carrusel{
    display: none;
  }
  .primera{
    margin-top: 20%;
  }
  .segundo{
    margin-top: 7%;
  }
  .cuatro{
    margin-left: 30%;
  }
  h4{
    margin-left: 31%;
  }
.text a{
    margin-left: 34%;
  }
  .jumbotron{
    height: 300px;
  }
  .divima{
    height: 200px;
  }
}
@media(max-width:630px){
  nav a{
    font-size: .8em;
  }
  nav .nombre{
    font-size: 1em;
  }
  li a img{
    display: none;
  }
  .carrusel{
    display: none;
  }
  .primera{
    margin-top: 15%;
  }
  .segundo{
    margin-top: 15%;
  }
  .cuatro{
    margin-left: 13%;
  }
  h4{
    margin-left: 15%;
  }
.text a{
    margin-left: 34%;
  }
  .jumbotron{
    height: 100px;
  }
  .divima{
    height: 200px;
  }
}
